body {
    margin: 0;
}

main {
    background-image: url(./assets/background.png);
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 3em 10%;
}

header {
    background-color: #333333;
    height: 2em;
    /* width: 100%; */
    padding: 1em 10%;
}

a {
    color: #ff0099;
    margin: 15px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

h2, p {
    text-align: center;
}

p {
    font-size: 30px;
}

h3 {
    color: #ff0099;
}

#instruction {
    color: black;
}

nav {
    float: right;
    margin: 8px;
}


/* hr {
    border: 0;
    border-style: dashed;
    border-width: 2px;
    border-color: black                              ;
    width: 50px;
    font-size: 50px;
} */